/* main page and left text pane */
body, #left {
    background-color: #003366 !important;
    color: #ff7f6b !important;
}

/* the code background */
pre, component_container, frame {
    color: #ff7f6b !important;
}

/* the larger code window */
#slide_content {
    background-color: #3773a5 !important;
    color: #ffbb99 !important;
}
::selection {
    color: #fcab9f;
    background: #64cffa;
  }